{% extends 'base.html' %}
{% block contents %}
<div class="tema bg-light shadow mt-5 mb-5">
    <div class="form--user__icon">
        <div class="icon--img">
            <img src="">
        </div>
    </div>

    <h2 class="text-center mb-3 text-dark">Login</h2>

    <form action="" method="">
        <div class="form-group mt-4">
            <input type="email" class="form-control" id="email" placeholder="Username" name="email">
        </div>

        <div class="form-group mt-4">
            <input type="password" class="form-control" id="pwd" placeholder="Password" name="pwd">
        </div>

        <button type="submit" class="sub btn btn-success mt-4">Sign-in</button>

        <div class="text-center mb-3 mt-2">
			<a href="#" class="nav-link">Forgot your Password?</a>
        	<a href="#" class="nav-link">Create Account</a>
        </div>
    </form>
</div>
{% endblock contents %}
