{% extends 'base.html' %}
{% block title %}
  {{page_title}}
{% endblock title %}
{% block contents %}
<div class="container d-flex align-items-center p-3 my-3 text-white bg-success rounded shadow-sm">
	<img src="https://img.icons8.com/plasticine/100/000000/cookies.png"/>
	<h1 class="h2 text-white">"well being food.co: provide your healty food"</h1>
</div>

<div class="container mb-3">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    <div class="col">
      <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></svg>

		<button type="button" class="card-body btn btn-lg btn-success text-white">Rp. 15.000</button>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></svg>

		<button type="button" class="card-body btn btn-lg btn-success text-white">Rp. 28.000</button>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></svg>

		<button type="button" class="card-body btn btn-lg btn-success text-white">Rp. 50.000</button>
      </div>
    </div>

  </div>
</div>

{% endblock contents %}
